<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <context:component-scan base-package="br.com.bitwiselab"/>
    <context:component-scan base-package="br.com.henry"/>

    <bean id="loggerExceptionAdvice"
        class="br.com.bitwiselab.jano.aop.LoggerException" />

   <aop:config>
        <aop:pointcut id="controllerScope"
            expression="execution(* br.com.bitwiselab.jano..model..*Model.*(..))" />
        <aop:aspect ref="loggerExceptionAdvice">
            <aop:after-throwing method="afterThrowing"
                throwing="throwable" pointcut-ref="controllerScope" />
        </aop:aspect>
    </aop:config>

   <bean id="primmeAcessoServer"
		class="br.com.henry.primmeAcesso.server.PrimmeAcessoServer">
	</bean>
	
</beans> 